@import url('./fonts.css');

* {
  box-sizing: border-box;
}
body {
  font-family: 'PorscheNext', Arial, sans-serif;
  padding: 0 1rem;
  margin: 0;
}
.cars__title {
  font-family: 'PorscheNext-Thin';
  text-align: center;
  font-weight: 100;
  padding: 0 0 40px;
  font-size: 2.5rem;  
}
.cars__list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
  height: 1078px;
}
.cars__item {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.cars__item:nth-child(1) {
  background-image: url('../img/small-taycan.jpg');
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.cars__item:nth-child(2) {
  background-image: url('../img/small-718.jpg');
}
.cars__item:nth-child(3) {
  background-image: url('../img/small-911.jpg');
}
.cars__item:nth-child(4) {
  background-image: url('../img/small-panamera.jpg');
}
.cars__item:nth-child(5) {
  background-image: url('../img/small-macan.jpg');
}
.cars__item:nth-child(6) {
  background-image: url('../img/small-cayenne.jpg');
}
.cars__item-title {
  color: #fff;
  font-weight: 400;
  font-size: 4.5rem;
  padding: 0;
  line-height: 0;
  margin: 75px 0 50px 40px;
}
.cars__item-price {
  color: #fff;
  margin: 0 0 0 40px;
  font-size: 1.5rem;
  padding: 0;
}
.cars__item-config-button {
  position: absolute;
  bottom: 45px;
  left: 45px;
  background: #fff;
  border: none;
  padding: 14px 25px;
  cursor: pointer;
  font-family: 'PorscheNext', Arial, sans-serif;
  font-size: 20px;
  transition: all .3s ease-in-out;
}
.cars__item-config-button:hover {
  background-color: #d5001c;
  transform: translateY(-5px);
  color: #fff;
}
.cars__item-review-button {
  position: absolute;
  bottom: 45px;
  left: 230px;
  background: transparent;
  border: 1px solid #fff;
  padding: 13px 26px;
  color: #fff;
  cursor: pointer;
  font-family: 'PorscheNext', Arial, sans-serif;
  font-size: 20px;
  transition: all .3s ease-in-out;
}
.cars__item-review-button:hover {
  border-color: #d5001c;
  transform: translateY(-5px);
  color: #d5001c;
}