@import url('./fonts.css');

* {
  box-sizing: border-box;
}
body {
  font-family: 'PorscheNext', Arial, sans-serif;
  padding: 0 1rem;
  margin: 0;
}
.header {
  border-bottom: 1px solid #ebebeb;
}
.header__logo {
  background: #fff url('./img/porsche-logo.svg') no-repeat;
  width: 93px;
  height: 56px;
  background-size: cover;
  margin: 0 auto -12px;
}
.cars__title {
  font-family: 'PorscheNext-Thin';
  text-align: center;
  font-weight: 100;
  padding: 0;
  font-size: 2.5rem;  
}
.cars__list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
}
.cars__item {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all .3s ease-in-out;
  overflow: hidden;
}
.cars__item:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.cars__item-image {
  width: 100%;
  transition: all .3s ease-in-out;
  display: block;
}
.cars__item:hover .cars__item-image {
  transform: scale(1.02);
}
.cars__item-title {
  color: #fff;
  font-weight: 400;
  font-size: 4.5rem;
  padding: 0;
  line-height: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 40px;
}
.cars__item-price {
  color: #fff;
  margin: 0;
  font-size: 1.6rem;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 130px;
  left: 40px;
}
.cars__item-config-button {
  position: absolute;
  bottom: 45px;
  left: 45px;
  background: #fff;
  border: none;
  padding: 14px 25px;
  cursor: pointer;
  font-family: 'PorscheNext', Arial, sans-serif;
  font-size: 20px;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.cars__item-config-button:hover {
  background-color: #d5001c;
  transform: translateY(-5px);
  color: #fff;
}
.cars__item-review-button {
  position: absolute;
  bottom: 45px;
  left: 230px;
  background: transparent;
  border: 1px solid #fff;
  padding: 13px 26px;
  color: #fff;
  cursor: pointer;
  font-family: 'PorscheNext', Arial, sans-serif;
  font-size: 20px;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.cars__item-review-button:hover {
  border-color: #d5001c;
  transform: translateY(-5px);
  color: #d5001c;
}

@media screen and (max-width: 1279px) {
  .cars__item-title {
    font-size: 3.5rem;
    top: 50px;
    left: 25px;
  }
  .cars__item-price {
    font-size: 1.2rem;
    top: 85px;
    left: 25px;
  }
  .cars__item-config-button {    
    padding: 10px 19px;
    bottom: 25px;
    left: 25px;
  }
  .cars__item-review-button {    
    padding: 9px 18px;
    bottom: 25px;
    left: 195px;
  }
}
@media screen and (max-width: 1023px) {
  .cars__list {
    grid-template-columns: 1fr 1fr;
  }
  .cars__item:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
  }
}
@media screen and (max-width: 679px) {
  .cars__list {
    grid-template-columns: 1fr;
  }
}